* {
    box-sizing: border-box;
    font-family:'Courier New', 'monospace';
}

/* For mobile phones: */
[class*="col-"] {
  grid-column: 1 / span 4;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
    .col-1-1 {grid-column: 1 / span 1;}
    .col-1-2 {grid-column: 1 / span 2;}
    .col-1-3 {grid-column: 1 / span 3;}
    .col-1-4 {grid-column: 1 / span 4;}
    .col-2-1 {grid-column: 2 / span 1;}
    .col-2-2 {grid-column: 2 / span 2;}
    .col-2-3 {grid-column: 2 / span 3;}
    .col-3-1 {grid-column: 3 / span 1;}
    .col-3-2 {grid-column: 3 / span 2;}
    .col-4-1 {grid-column: 4 / span 1;}    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1.5rem;
    padding: 0.7rem 1rem 1rem 1rem;
}

.grid-element {
    background-color: white;
    border: 5px inset chocolate;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    min-width: 20%;
    margin: 8px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-container > div {
    padding: 10px;
}

body {
    background-color: #b1d3db;
    /*background-image: url("background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.info-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}
.info-2 {
    padding: 10px;
    border: 3px;
    border-style: inset;
    border-color: chocolate;
    border-radius: 8px;
    background-color: rgb(223, 174, 115);
}
.info-field {
    background-color: white;
    border: 1px;
    border-style: solid;
    padding: 4px;
}
h3 {
    margin-top: 15px;
    margin-bottom: 0;
}